<ion-view view-title="Account" class="with-bg">
  <ion-content header-shrink scroll-event-interval="5" bg-class=".cover-pano">
	  
	  <div>
	    <div class="cover-pano">
	      <img ng-src="http://placehold.it/640x281" /> <!-- {{ getPano(hill) }} -->
	    </div>
	    <div class="profile-img text-center" style="margin: -40px 0;position:relative;z-index: 10;border-radius: 1000px;overflow: hidden;">
	    	<img ng-src="http://placehold.it/80x80" style="margin-bottom: -5px;border-radius: 1000px;overflow: hidden;" />
	    </div>
		</div>
		<div class="content-pano padding">
			<div class="card">
        <div class="item item-royal item-divider">
          <h2 style="color: #fff;"><strong>Profile</strong></h2>
        </div>
        <div class="item">
        <h1 style="margin-bottom: 0">@WOSEvision</h1>
        (Jackson Teather)
        </div>
        <div class="item item-icon-left item-button-right">
          <i class="icon ion-ios-speedometer-outline"></i>
          <!-- P&Amacr;VMENTgr&amacr;de -->
          LEVEL
          <button class="button button-royal">
            <small>SUPER DUPER</small>
          </button>
        </div>
			</div>
		</div>

    <ion-list>
	    <ion-toggle  ng-model="settings.enableFriends">
	        Enable Friends
	    </ion-toggle>
	    <ion-toggle  ng-model="settings.enableFriends">
	        Make Cookies
	    </ion-toggle>
	    <ion-toggle  ng-model="settings.enableFriends">
	        Party Hard
	    </ion-toggle>
    </ion-list>

  </ion-content>
</ion-view>
