<ion-header-bar class="bar-subheader row">
	<div class="button-bar col-80 col-offset-10">
	  <button class="button button-outline button-royal" ng-click="toggleDrawer()">Toggle graph</button>
	  <button class="button button-outline button-royal" ng-click="showMapOptions()">Map options</button>
	</div>
</ion-header-bar>
<ion-view view-title="Dashboard">

  <ion-nav-title>
    <img src="img/logo_header.svg">
  </ion-nav-title>

  <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-location" ng-click="getMyLocation()"></button>
  </ion-nav-buttons>

  <ion-content scroll="false">

		<!-- MAP CONTAINER -->
    <div id="map_canvas">  <!-- data-tap-disabled="true" -->
	    
			<ion-drawer-vertical-wrapper direction="up" state="open" class="has-footer">
		    <ion-drawer-vertical-content>
			    <ion-slide-box show-pager="false">

					  <ion-slide>
		          <div google-chart class="chart" chart="chartObject[0]"></div>
					  </ion-slide>

					  <ion-slide>
		          <div google-chart class="chart" chart="chartObject[1]"></div>
					  </ion-slide>

					  <ion-slide class="padding">
	            <div class="row">
	              <div class="col-50">
	                <label><strong>Point A elevation:</strong><input type="text" ng-model="hillData.pointA" id="point_a_value" style="width: 50%" disabled /></label>
	              </div>
	              <div class="col-50">
	                <label><strong>Point B elevation:</strong><input type="text" ng-model="hillData.pointB" id="point_b_value" style="width: 50%" disabled /></label>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-50">
	                <label><strong>Total distance:</strong><input type="text" ng-model="hillData.distance" id="total_distance" style="width: 50%" disabled /></label>
	              </div>
	              <div class="col-50">
	                <label><strong>Avg elevation change:</strong><input type="text" value="0" id="avg_incline" style="width: 50%" disabled /></label>
	              </div>
	            </div>
					  </ion-slide>
					  
					</ion-slide-box>
		    </ion-drawer-vertical-content>
		    <ion-drawer-vertical-handle />
			</ion-drawer-vertical-wrapper>

    </div>
		<!-- END MAP CONTAINER -->

  </ion-content>
</ion-view>
