<ion-view view-title="Discover" class="with-bg">

<!--   <ion-header-bar class="bar-subheader">

    <div class="item-input-inset" style="max-height: 34px;">
      <label class="item-input-wrapper">
        <input type="text" placeholder="420 Nugget Ave.">
      </label>
      <button class="button button-outline button-royal button-small" style="max-height: 29px; line-height: 29px;">
        Submit
      </button>
    </div>

  </ion-header-bar> -->


  <ion-content class="row" scroll="false">
  
      <div class="list card col-center" style="margin: 0 auto;width: 80%;">

        <div class="item item-icon-left">
          <strong>Ride Wizard</strong>
          <i class="icon ion-ios-color-wand-outline"></i>
        </div>
        <label class="item item-input item-select">
          <div class="input-label royal">
            Distance range
          </div>
          <select>
            <option value="">&#60; 1km</option>
            <option value="">1-2km</option>
            <option value="">3-5km</option>
            <option value="">6-10km</option>
            <option value="">&#62; 10km</option>
          </select>
        </label>
  <div class="item item-divider">
    Intensity <span class="item-note">{{ getIntensity(intensity) || 'Select an intensity...' }}</span>
  </div>
        <div class="item range range-royal">
          <i class="icon ion-ios-cart"></i>
          <input type="range" name="intensity" min="0" value="50" step="10" max="100" ng-model="intensity">
          <i class="icon ion-jet"></i>
        </div>
  <div class="item item-divider">
    Style
  </div>
        <div class="item item-royal item-body">

          <ion-slide-box show-pager="false">
            <ion-slide ng-repeat="slide in slides track by $index" style="text-align: center;">
              <h2 class="light">{{ slide.label }}</h2>
              <img ng-src="{{ slide.path }}" />
            </ion-slide>
          </ion-slide-box>

        </div>
        <button class="button button-full button-positive ion-chevron-right" style="margin: 0 0 -1px 0">
  Get rolling
</button>

      </div>
  </ion-content>
</ion-view>
