<ion-view view-title="Discover" class="with-bg">

<!--   <ion-header-bar class="bar-subheader">

    <div class="item-input-inset" style="max-height: 34px;">
      <label class="item-input-wrapper">
        <input type="text" placeholder="420 Nugget Ave.">
      </label>
      <button class="button button-outline button-royal button-small" style="max-height: 29px; line-height: 29px;">
        Submit
      </button>
    </div>

  </ion-header-bar> -->


  <ion-content class="row" scroll="false">
  
      <div class="list card col-center" style="margin: 0 auto;">

        <div class="item item-icon-left">
         Hill Wizard
            <i class="icon ion-map"></i>
        </div>

        <div class="item item-dark item-body">
          <!-- <img class="full-image" src="delorean.jpg"> -->

          <ion-slide-box>
            <ion-slide>
            <img ng-src="img/bomb.svg" />
            </ion-slide>
            <ion-slide>
            <img ng-src="img/carve.svg" />
            </ion-slide>
            <ion-slide>
            <img ng-src="img/slide.svg" />
            </ion-slide>
            <ion-slide>
            <img ng-src="img/distance.svg" />
            </ion-slide>
            <ion-slide>
            <img ng-src="img/trick.svg" />
            </ion-slide>
          </ion-slide-box>
<!--           <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p> -->
        </div>

      </div>
  </ion-content>
</ion-view>
