@import "settings";
@import "foundation";
@import "pavicons";
@import "flickity";

body {
	background-image: url('../img/sample_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-darkgrey { color: $gray-dark; }
.color-grey { color: $gray; }
.color-blue { color: $info-color; }
.color-green { color: $success-color; }
.color-yellow { color: $warning-color; }
.color-orange { color: $alert-color; }
.color-brand { color: $primary-color; }

// Shadows
// - - - - - - - - - - - - - - -

$shadow : 0 0 10px rgba(0,0,0,0.15);
$shadow-floaty : 0 0 20px rgba(0,0,0,0.15);
$shadow-floatier : 0 0 30px rgba(0,0,0,0.15);




// Menu, Title, and Control Bars
// - - - - - - - - - - - - - - -

.menu-bar {
	box-shadow: $shadow;
	& > li.active {
		background: smartscale($primary-color, 4%);
	}
	& > li > a > span {
		font-size: $h4-font-size;
	}
}

.map-controls {
    @extend %button-group-segmented;
    @extend %button-group;
    margin-top: $global-padding;
}

.title-bar {
	&.primary {
		padding: $global-padding / 2;
		box-shadow: $shadow;
		border: 0;
	}
	& .title {
	  color: transparent;
	  font-size: 2rem;
	  letter-spacing: -0.4rem;
	  background-image: url('../img/logo_header.svg');
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
	}
}

.discover-bg {
	background: rgba(0,0,0,0.8);
}
.map-bg {
	background: rgba(255,255,255,0.9);
}
.settings-bg {
	background: rgba(255,255,255,0.95);
}


// Search Overlay
// - - - - - - - - - - - - - - -

.search-modal {
	@extend %modal;
	@include modal-style();
	@include modal-layout(
		$width: 300px
	);
	margin: 0 auto;
	height: auto;
	color: #ffffff;
	& label {
		color: #ffffff;
	}
	& h1,h2,h3,h4,h5 {
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		font-size: 300%;
		line-height: 1;
	}
	& hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.ride-select {
	height: 230px;
	width: 100%;
	& .slide {
		opacity: 0.3;
		width: 150px;
		min-height: 150px;
		&.is-selected {
			opacity: 1;
		}
		& img {
			width: 150px;
			height: 150px;
		}
		& figcaption {
			margin-top: 0.85rem;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
		}
	}
}

.flickity-prev-next-button {
  width: 75px;
  height: 75px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
/* position dots up a bit */
.flickity-page-dots {
	display: none;
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
.search-type-button {
	margin: -1rem;
	padding: 1rem;
	& span {
		color: #ffffff;
		display: block;
		position: absolute;
		right: -0.8975rem;
		font-size: 6.5rem;
	}
	&:hover {
		background: -moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 75%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	}
}

#intensity-label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 80%;
}

.back-button {
	font-size: 1.3rem;
	color: #ffffff;
	& span {
		font-size: 1rem;
	}
}