@font-face {
	font-family: 'pavicons';
	src:url('../fonts/pavicons.eot?nmk4vu');
	src:url('../fonts/pavicons.eot?nmk4vu#iefix') format('embedded-opentype'),
		url('../fonts/pavicons.ttf?nmk4vu') format('truetype'),
		url('../fonts/pavicons.woff?nmk4vu') format('woff'),
		url('../fonts/pavicons.svg?nmk4vu#pavicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pvcn-"], [class*=" pvcn-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'pavicons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pvcn-water:before {
	content: "\e900";
}
.pvcn-warning:before {
	content: "\e901";
}
.pvcn-wallet:before {
	content: "\e902";
}
.pvcn-voicemail:before {
	content: "\e903";
}
.pvcn-vinyl:before {
	content: "\e904";
}
.pvcn-video:before {
	content: "\e905";
}
.pvcn-video-camera:before {
	content: "\e906";
}
.pvcn-v-card:before {
	content: "\e907";
}
.pvcn-users:before {
	content: "\e908";
}
.pvcn-user:before {
	content: "\e909";
}
.pvcn-upload:before {
	content: "\e90a";
}
.pvcn-upload-to-cloud:before {
	content: "\e90b";
}
.pvcn-untag:before {
	content: "\e90c";
}
.pvcn-unread:before {
	content: "\e90d";
}
.pvcn-uninstall:before {
	content: "\e90e";
}
.pvcn-typing:before {
	content: "\e90f";
}
.pvcn-tv:before {
	content: "\e910";
}
.pvcn-trophy:before {
	content: "\e911";
}
.pvcn-triangle-up:before {
	content: "\e912";
}
.pvcn-triangle-right:before {
	content: "\e913";
}
.pvcn-triangle-left:before {
	content: "\e914";
}
.pvcn-triangle-down:before {
	content: "\e915";
}
.pvcn-tree:before {
	content: "\e916";
}
.pvcn-trash:before {
	content: "\e917";
}
.pvcn-traffic-cone:before {
	content: "\e918";
}
.pvcn-tools:before {
	content: "\e919";
}
.pvcn-time-slot:before {
	content: "\e91a";
}
.pvcn-ticket:before {
	content: "\e91b";
}
.pvcn-thunder-cloud:before {
	content: "\e91c";
}
.pvcn-thumbs-up:before {
	content: "\e91d";
}
.pvcn-thumbs-down:before {
	content: "\e91e";
}
.pvcn-thermometer:before {
	content: "\e91f";
}
.pvcn-text:before {
	content: "\e920";
}
.pvcn-text-document:before {
	content: "\e921";
}
.pvcn-text-document-inverted:before {
	content: "\e922";
}
.pvcn-tag:before {
	content: "\e923";
}
.pvcn-tablet:before {
	content: "\e924";
}
.pvcn-tablet-mobile-combo:before {
	content: "\e925";
}
.pvcn-switch:before {
	content: "\e926";
}
.pvcn-sweden:before {
	content: "\e927";
}
.pvcn-swap:before {
	content: "\e928";
}
.pvcn-suitcase:before {
	content: "\e929";
}
.pvcn-stopwatch:before {
	content: "\e92a";
}
.pvcn-star:before {
	content: "\e92b";
}
.pvcn-star-outlined:before {
	content: "\e92c";
}
.pvcn-squared-plus:before {
	content: "\e92d";
}
.pvcn-squared-minus:before {
	content: "\e92e";
}
.pvcn-squared-cross:before {
	content: "\e92f";
}
.pvcn-spreadsheet:before {
	content: "\e930";
}
.pvcn-sports-club:before {
	content: "\e931";
}
.pvcn-sound:before {
	content: "\e932";
}
.pvcn-sound-mute:before {
	content: "\e933";
}
.pvcn-sound-mix:before {
	content: "\e934";
}
.pvcn-signal:before {
	content: "\e935";
}
.pvcn-shuffle:before {
	content: "\e936";
}
.pvcn-shopping-cart:before {
	content: "\e937";
}
.pvcn-shopping-basket:before {
	content: "\e938";
}
.pvcn-shopping-bag:before {
	content: "\e939";
}
.pvcn-shop:before {
	content: "\e93a";
}
.pvcn-shield:before {
	content: "\e93b";
}
.pvcn-shareable:before {
	content: "\e93c";
}
.pvcn-share:before {
	content: "\e93d";
}
.pvcn-share-alternative:before {
	content: "\e93e";
}
.pvcn-select-arrows:before {
	content: "\e93f";
}
.pvcn-scissors:before {
	content: "\e940";
}
.pvcn-save:before {
	content: "\e941";
}
.pvcn-ruler:before {
	content: "\e942";
}
.pvcn-rss:before {
	content: "\e943";
}
.pvcn-round-brush:before {
	content: "\e944";
}
.pvcn-rocket:before {
	content: "\e945";
}
.pvcn-retweet:before {
	content: "\e946";
}
.pvcn-resize-full-screen:before {
	content: "\e947";
}
.pvcn-resize-100:before {
	content: "\e948";
}
.pvcn-reply:before {
	content: "\e949";
}
.pvcn-reply-all:before {
	content: "\e94a";
}
.pvcn-remove-user:before {
	content: "\e94b";
}
.pvcn-radio:before {
	content: "\e94c";
}
.pvcn-quote:before {
	content: "\e94d";
}
.pvcn-publish:before {
	content: "\e94e";
}
.pvcn-progress-two:before {
	content: "\e94f";
}
.pvcn-progress-one:before {
	content: "\e950";
}
.pvcn-progress-full:before {
	content: "\e951";
}
.pvcn-progress-empty:before {
	content: "\e952";
}
.pvcn-print:before {
	content: "\e953";
}
.pvcn-price-tag:before {
	content: "\e954";
}
.pvcn-price-ribbon:before {
	content: "\e955";
}
.pvcn-power-plug:before {
	content: "\e956";
}
.pvcn-popup:before {
	content: "\e957";
}
.pvcn-plus:before {
	content: "\e958";
}
.pvcn-pin:before {
	content: "\e959";
}
.pvcn-pie-chart:before {
	content: "\e95a";
}
.pvcn-phone:before {
	content: "\e95b";
}
.pvcn-pencil:before {
	content: "\e95c";
}
.pvcn-paper-plane:before {
	content: "\e95d";
}
.pvcn-palette:before {
	content: "\e95e";
}
.pvcn-open-book:before {
	content: "\e95f";
}
.pvcn-old-phone:before {
	content: "\e960";
}
.pvcn-old-mobile:before {
	content: "\e961";
}
.pvcn-notifications-off:before {
	content: "\e962";
}
.pvcn-notification:before {
	content: "\e963";
}
.pvcn-note:before {
	content: "\e964";
}
.pvcn-newsletter:before {
	content: "\e965";
}
.pvcn-news:before {
	content: "\e966";
}
.pvcn-new:before {
	content: "\e967";
}
.pvcn-new-message:before {
	content: "\e968";
}
.pvcn-network:before {
	content: "\e969";
}
.pvcn-music:before {
	content: "\e96a";
}
.pvcn-mouse:before {
	content: "\e96b";
}
.pvcn-mouse-pointer:before {
	content: "\e96c";
}
.pvcn-moon:before {
	content: "\e96d";
}
.pvcn-modern-mic:before {
	content: "\e96e";
}
.pvcn-mobile:before {
	content: "\e96f";
}
.pvcn-minus:before {
	content: "\e970";
}
.pvcn-mic:before {
	content: "\e971";
}
.pvcn-message:before {
	content: "\e972";
}
.pvcn-merge:before {
	content: "\e973";
}
.pvcn-menu:before {
	content: "\e974";
}
.pvcn-megaphone:before {
	content: "\e975";
}
.pvcn-medal:before {
	content: "\e976";
}
.pvcn-mask:before {
	content: "\e977";
}
.pvcn-map:before {
	content: "\e978";
}
.pvcn-man:before {
	content: "\e979";
}
.pvcn-mail:before {
	content: "\e97a";
}
.pvcn-magnifying-glass:before {
	content: "\e97b";
}
.pvcn-magnet:before {
	content: "\e97c";
}
.pvcn-loop:before {
	content: "\e97d";
}
.pvcn-login:before {
	content: "\e97e";
}
.pvcn-log-out:before {
	content: "\e97f";
}
.pvcn-lock:before {
	content: "\e980";
}
.pvcn-lock-open:before {
	content: "\e981";
}
.pvcn-location:before {
	content: "\e982";
}
.pvcn-location-pin:before {
	content: "\e983";
}
.pvcn-list:before {
	content: "\e984";
}
.pvcn-link:before {
	content: "\e985";
}
.pvcn-line-graph:before {
	content: "\e986";
}
.pvcn-light-up:before {
	content: "\e987";
}
.pvcn-light-down:before {
	content: "\e988";
}
.pvcn-light-bulb:before {
	content: "\e989";
}
.pvcn-lifebuoy:before {
	content: "\e98a";
}
.pvcn-level-up:before {
	content: "\e98b";
}
.pvcn-level-down:before {
	content: "\e98c";
}
.pvcn-leaf:before {
	content: "\e98d";
}
.pvcn-layers:before {
	content: "\e98e";
}
.pvcn-laptop:before {
	content: "\e98f";
}
.pvcn-language:before {
	content: "\e990";
}
.pvcn-landline:before {
	content: "\e991";
}
.pvcn-lab-flask:before {
	content: "\e992";
}
.pvcn-keyboard:before {
	content: "\e993";
}
.pvcn-key:before {
	content: "\e994";
}
.pvcn-install:before {
	content: "\e995";
}
.pvcn-info:before {
	content: "\e996";
}
.pvcn-info-with-circle:before {
	content: "\e997";
}
.pvcn-infinity:before {
	content: "\e998";
}
.pvcn-inbox:before {
	content: "\e999";
}
.pvcn-images:before {
	content: "\e99a";
}
.pvcn-image:before {
	content: "\e99b";
}
.pvcn-image-inverted:before {
	content: "\e99c";
}
.pvcn-hour-glass:before {
	content: "\e99d";
}
.pvcn-home:before {
	content: "\e99e";
}
.pvcn-help:before {
	content: "\e99f";
}
.pvcn-help-with-circle:before {
	content: "\e9a0";
}
.pvcn-heart:before {
	content: "\e9a1";
}
.pvcn-heart-outlined:before {
	content: "\e9a2";
}
.pvcn-hand:before {
	content: "\e9a3";
}
.pvcn-hair-cross:before {
	content: "\e9a4";
}
.pvcn-grid:before {
	content: "\e9a5";
}
.pvcn-graduation-cap:before {
	content: "\e9a6";
}
.pvcn-globe:before {
	content: "\e9a7";
}
.pvcn-gauge:before {
	content: "\e9a8";
}
.pvcn-game-controller:before {
	content: "\e9a9";
}
.pvcn-funnel:before {
	content: "\e9aa";
}
.pvcn-forward:before {
	content: "\e9ab";
}
.pvcn-folder:before {
	content: "\e9ac";
}
.pvcn-folder-video:before {
	content: "\e9ad";
}
.pvcn-folder-music:before {
	content: "\e9ae";
}
.pvcn-folder-images:before {
	content: "\e9af";
}
.pvcn-flower:before {
	content: "\e9b0";
}
.pvcn-flow-tree:before {
	content: "\e9b1";
}
.pvcn-flow-parallel:before {
	content: "\e9b2";
}
.pvcn-flow-line:before {
	content: "\e9b3";
}
.pvcn-flow-cascade:before {
	content: "\e9b4";
}
.pvcn-flow-branch:before {
	content: "\e9b5";
}
.pvcn-flat-brush:before {
	content: "\e9b6";
}
.pvcn-flashlight:before {
	content: "\e9b7";
}
.pvcn-flash:before {
	content: "\e9b8";
}
.pvcn-flag:before {
	content: "\e9b9";
}
.pvcn-fingerprint:before {
	content: "\e9ba";
}
.pvcn-feather:before {
	content: "\e9bb";
}
.pvcn-eye:before {
	content: "\e9bc";
}
.pvcn-eye-with-line:before {
	content: "\e9bd";
}
.pvcn-export:before {
	content: "\e9be";
}
.pvcn-eraser:before {
	content: "\e9bf";
}
.pvcn-erase:before {
	content: "\e9c0";
}
.pvcn-emoji-sad:before {
	content: "\e9c1";
}
.pvcn-emoji-neutral:before {
	content: "\e9c2";
}
.pvcn-emoji-happy:before {
	content: "\e9c3";
}
.pvcn-emoji-flirt:before {
	content: "\e9c4";
}
.pvcn-email:before {
	content: "\e9c5";
}
.pvcn-edit:before {
	content: "\e9c6";
}
.pvcn-drop:before {
	content: "\e9c7";
}
.pvcn-drive:before {
	content: "\e9c8";
}
.pvcn-drink:before {
	content: "\e9c9";
}
.pvcn-download:before {
	content: "\e9ca";
}
.pvcn-dots-two-vertical:before {
	content: "\e9cb";
}
.pvcn-dots-two-horizontal:before {
	content: "\e9cc";
}
.pvcn-dots-three-vertical:before {
	content: "\e9cd";
}
.pvcn-dots-three-horizontal:before {
	content: "\e9ce";
}
.pvcn-dot-single:before {
	content: "\e9cf";
}
.pvcn-documents:before {
	content: "\e9d0";
}
.pvcn-document:before {
	content: "\e9d1";
}
.pvcn-document-landscape:before {
	content: "\e9d2";
}
.pvcn-direction:before {
	content: "\e9d3";
}
.pvcn-dial-pad:before {
	content: "\e9d4";
}
.pvcn-database:before {
	content: "\e9d5";
}
.pvcn-cycle:before {
	content: "\e9d6";
}
.pvcn-cw:before {
	content: "\e9d7";
}
.pvcn-cup:before {
	content: "\e9d8";
}
.pvcn-cross:before {
	content: "\e9d9";
}
.pvcn-crop:before {
	content: "\e9da";
}
.pvcn-credit:before {
	content: "\e9db";
}
.pvcn-credit-card:before {
	content: "\e9dc";
}
.pvcn-creative-commons:before {
	content: "\e9dd";
}
.pvcn-creative-commons-sharealike:before {
	content: "\e9de";
}
.pvcn-creative-commons-share:before {
	content: "\e9df";
}
.pvcn-creative-commons-remix:before {
	content: "\e9e0";
}
.pvcn-creative-commons-public-domain:before {
	content: "\e9e1";
}
.pvcn-creative-commons-noncommercial-us:before {
	content: "\e9e2";
}
.pvcn-creative-commons-noncommercial-eu:before {
	content: "\e9e3";
}
.pvcn-creative-commons-noderivs:before {
	content: "\e9e4";
}
.pvcn-creative-commons-attribution:before {
	content: "\e9e5";
}
.pvcn-copy:before {
	content: "\e9e6";
}
.pvcn-controller-volume:before {
	content: "\e9e7";
}
.pvcn-controller-stop:before {
	content: "\e9e8";
}
.pvcn-controller-record:before {
	content: "\e9e9";
}
.pvcn-controller-play:before {
	content: "\e9ea";
}
.pvcn-controller-paus:before {
	content: "\e9eb";
}
.pvcn-controller-next:before {
	content: "\e9ec";
}
.pvcn-controller-jump-to-start:before {
	content: "\e9ed";
}
.pvcn-controller-fast-forward:before {
	content: "\e9ee";
}
.pvcn-controller-fast-backward:before {
	content: "\e9ef";
}
.pvcn-compass:before {
	content: "\e9f0";
}
.pvcn-colours:before {
	content: "\e9f1";
}
.pvcn-cog:before {
	content: "\e9f2";
}
.pvcn-code:before {
	content: "\e9f3";
}
.pvcn-cloud:before {
	content: "\e9f4";
}
.pvcn-clock:before {
	content: "\e9f5";
}
.pvcn-clipboard:before {
	content: "\e9f6";
}
.pvcn-classic-computer:before {
	content: "\e9f7";
}
.pvcn-clapperboard:before {
	content: "\e9f8";
}
.pvcn-circular-graph:before {
	content: "\e9f9";
}
.pvcn-circle:before {
	content: "\e9fa";
}
.pvcn-circle-with-plus:before {
	content: "\e9fb";
}
.pvcn-circle-with-minus:before {
	content: "\e9fc";
}
.pvcn-circle-with-cross:before {
	content: "\e9fd";
}
.pvcn-chevron-with-circle-up:before {
	content: "\e9fe";
}
.pvcn-chevron-with-circle-right:before {
	content: "\e9ff";
}
.pvcn-chevron-with-circle-left:before {
	content: "\ea00";
}
.pvcn-chevron-with-circle-down:before {
	content: "\ea01";
}
.pvcn-chevron-up:before {
	content: "\ea02";
}
.pvcn-chevron-thin-up:before {
	content: "\ea03";
}
.pvcn-chevron-thin-right:before {
	content: "\ea04";
}
.pvcn-chevron-thin-left:before {
	content: "\ea05";
}
.pvcn-chevron-thin-down:before {
	content: "\ea06";
}
.pvcn-chevron-small-up:before {
	content: "\ea07";
}
.pvcn-chevron-small-right:before {
	content: "\ea08";
}
.pvcn-chevron-small-left:before {
	content: "\ea09";
}
.pvcn-chevron-small-down:before {
	content: "\ea0a";
}
.pvcn-chevron-right:before {
	content: "\ea0b";
}
.pvcn-chevron-left:before {
	content: "\ea0c";
}
.pvcn-chevron-down:before {
	content: "\ea0d";
}
.pvcn-check:before {
	content: "\ea0e";
}
.pvcn-chat:before {
	content: "\ea0f";
}
.pvcn-ccw:before {
	content: "\ea10";
}
.pvcn-camera:before {
	content: "\ea11";
}
.pvcn-calendar:before {
	content: "\ea12";
}
.pvcn-calculator:before {
	content: "\ea13";
}
.pvcn-cake:before {
	content: "\ea14";
}
.pvcn-bug:before {
	content: "\ea15";
}
.pvcn-bucket:before {
	content: "\ea16";
}
.pvcn-brush:before {
	content: "\ea17";
}
.pvcn-browser:before {
	content: "\ea18";
}
.pvcn-briefcase:before {
	content: "\ea19";
}
.pvcn-box:before {
	content: "\ea1a";
}
.pvcn-bowl:before {
	content: "\ea1b";
}
.pvcn-bookmarks:before {
	content: "\ea1c";
}
.pvcn-bookmark:before {
	content: "\ea1d";
}
.pvcn-book:before {
	content: "\ea1e";
}
.pvcn-block:before {
	content: "\ea1f";
}
.pvcn-blackboard:before {
	content: "\ea20";
}
.pvcn-bell:before {
	content: "\ea21";
}
.pvcn-beamed-note:before {
	content: "\ea22";
}
.pvcn-battery:before {
	content: "\ea23";
}
.pvcn-bar-graph:before {
	content: "\ea24";
}
.pvcn-back:before {
	content: "\ea25";
}
.pvcn-back-in-time:before {
	content: "\ea26";
}
.pvcn-awareness-ribbon:before {
	content: "\ea27";
}
.pvcn-attachment:before {
	content: "\ea28";
}
.pvcn-arrow-with-circle-up:before {
	content: "\ea29";
}
.pvcn-arrow-with-circle-right:before {
	content: "\ea2a";
}
.pvcn-arrow-with-circle-left:before {
	content: "\ea2b";
}
.pvcn-arrow-with-circle-down:before {
	content: "\ea2c";
}
.pvcn-arrow-up:before {
	content: "\ea2d";
}
.pvcn-arrow-right:before {
	content: "\ea2e";
}
.pvcn-arrow-long-up:before {
	content: "\ea2f";
}
.pvcn-arrow-long-right:before {
	content: "\ea30";
}
.pvcn-arrow-long-left:before {
	content: "\ea31";
}
.pvcn-arrow-long-down:before {
	content: "\ea32";
}
.pvcn-arrow-left:before {
	content: "\ea33";
}
.pvcn-arrow-down:before {
	content: "\ea34";
}
.pvcn-arrow-bold-up:before {
	content: "\ea35";
}
.pvcn-arrow-bold-right:before {
	content: "\ea36";
}
.pvcn-arrow-bold-left:before {
	content: "\ea37";
}
.pvcn-arrow-bold-down:before {
	content: "\ea38";
}
.pvcn-area-graph:before {
	content: "\ea39";
}
.pvcn-archive:before {
	content: "\ea3a";
}
.pvcn-align-vertical-middle:before {
	content: "\ea3b";
}
.pvcn-align-top:before {
	content: "\ea3c";
}
.pvcn-align-right:before {
	content: "\ea3d";
}
.pvcn-align-left:before {
	content: "\ea3e";
}
.pvcn-align-horizontal-middle:before {
	content: "\ea3f";
}
.pvcn-align-bottom:before {
	content: "\ea40";
}
.pvcn-aircraft:before {
	content: "\ea41";
}
.pvcn-aircraft-take-off:before {
	content: "\ea42";
}
.pvcn-aircraft-landing:before {
	content: "\ea43";
}
.pvcn-air:before {
	content: "\ea44";
}
.pvcn-adjust:before {
	content: "\ea45";
}
.pvcn-address:before {
	content: "\ea46";
}
.pvcn-add-user:before {
	content: "\ea47";
}
.pvcn-add-to-list:before {
	content: "\ea48";
}

