---
name: home
url: /
---
<div class="grid-block map-bg">
	<div class="grid-content small-12 medium-8 text-center">
		<ul class="map-controls">
			<li class="is-active"><a href="#" zf-hard-toggle="hill-info">Show details</a></li>
			<li><a href="#" zf-toggle="map-options">Map options</a></li>
		</ul>
	  <div id="map"></div>

	<zf-action-sheet id="map-options">
	<zf-as-content position="bottom">
		<p>Map Options</p>
		<ul>
		<li><a href="#">Show bike paths &amp; lanes</a></li>
		<li><a href="#">Toggle elevation shading</a></li>
		<li><a href="#">Show shared hills</a></li>
		</ul>
	</zf-as-content>
	</zf-action-sheet>
	</div>

	<div class="medium-grid-content medium-4 panel panel-bottom" zf-panel position="bottom" id="hill-info">
		<div class="grid-content">
			<br>
			<a zf-close="" class="close-button show-for-small-only">×</a>
		  <h1>Settings panel!</h1>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		  consequat.</p>
		</div>
	</div>
</div>
