---
name: settings
url: /settings
---

<div class="grid-content">
	<section class="block-list">
	<header>I'm a Checkbox</header>
	<ul>
	<li>
	<input type="checkbox" id="life">
	<label for="life">Yeah!</label>
	</li>
	<li>
	<input type="checkbox" id="rad">
	<label for="rad">Radical!</label>
	</li>
	</ul>
	</section>
	<section class="block-list">
	<header>I Have Radio Buttons</header>
	<ul>
	<li>
	<input type="radio" name="delicious" id="eggs" value="eggs" checked="">
	<label for="eggs">Eggs</label>
	</li>
	<li>
	<input type="radio" name="delicious" id="bacon" value="bacon">
	<label for="bacon">Bacon</label>
	</li>
	<li>
	<input type="radio" name="delicious" id="toast" value="toast">
	<label for="toast">Toast</label>
	</li>
	</ul>
	</section>
	<section class="block-list">
	<header>Look, I gotta Switch</header>
	<ul>
	<li>
	<span>Switch!</span>
	<div class="switch">
	<input type="checkbox" id="switchOne">
	<label for="switchOne"></label>
	</div>
	</li>
	</ul>
	</section>
	<section class="block-list">
	<header>I Hold Forms</header>
	<ul>
	<li><input type="text" placeholder="User name"></li>
	<li><input type="password" placeholder="Password"></li>
	</ul>
	</section>
	<section class="block-list">
	<header>I Even Have Selectboxes</header>
	<ul>
	<li class="with-dropdown"><select name="" id="">
	<option>Now</option>
	<option>Later</option>
	<option>Eventually</option>
	<option>Forever</option>
	</select></li>
	</ul>
	</section>
</div>
